* {
    padding: 0;
    margin: 0;

    font-family: 'Nunito Sans';
}

body {
    background-color: hsl(0, 0%, 98%);

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 2px hsl(0, 0%, 52%);

    h3,
    h4 {
        padding: 20px;
    }
}

#search-area {
    width: 90%;
    height: 16vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px auto;

    input {
        width: 100%;
        height: 50px;
        border: none;
        box-shadow: 1px 1px 5px hsl(0, 0%, 52%);
        padding-left: 7px;
    }

    select {
        margin-top: 10px;
        width: 50%;
        height: 50px;
        border-style: none;
        border-radius: 3%;
        box-shadow: 1px 1px 5px hsl(0, 0%, 52%);
        padding-left: 10px;
    }
}

#card-containers {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#country-card:last-child {
    margin-bottom: 4em;
}

#country-card {
    margin-top: 3em;
    width: 80%;
    height: 24em;
    background-color: hsl(0, 0%, 100%);
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 3%;
    box-shadow: 1px 1px 3px hsl(0, 0%, 52%);

    #country-img {
        width: 100%;
        height: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 3%;

        margin: 0 auto;
    }

    #country-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 50%;
        width: 100%;
        padding-left: 20px;


        h3 {

            padding-bottom: 10px;
            font-weight: bold;

        }

        h4 {
            font-weight: bold;
            line-height: 1.5em;
        }

        span {
            font-weight: 400;
        }
    }
}



/*Extra Page*/
#extra-page {
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 10vh;
    background-color: hsl(0, 0%, 98%);
    border: 1px solid black;
}

#flag-container {
    position: absolute;
    top: 12%;
    left: 4%;
    width: 90%;
    height: 13em;
    border: 1px solid blue;


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3%;

    margin: 0 auto;
}

#back-button {
    position: absolute;
    top: 5%;
    left: 3%;
}

#basic-info{
    width: 100%;
    height: 30vh;
    border: 1px solid black;
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#info2{
    width: 100%;
    border: 1px solid red;
    height: 50%;
}

#border-countries{
    width: 100%;
    border: 1px solid greenyellow;
    height: 100px;
}